:root{
    background-color: #F2F2F2;
    font-family:  'Space Grotesk', sans-serif;
}
*{
    box-sizing: border-box;

}
.back{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
}
.container {
        background-color:  #FEFCF3;
        border-radius: 30px;
        width: 40vw;
        height: 80vh;
       display: flex;
       flex-direction: column;
       padding-top: 20px;
       align-items: center;
}
p{
    margin-top: 20px;
   
}
input[type=text]{
    width: 60%;
    height: 4vh;
    
    background-color: #FEFCF3;
    border: 0px;
    border-bottom: 1px solid black;
}
input[type=text]:focus{
    border-bottom: 2px solid black;
    outline: none;
}
.input{
    display: flex;
}
input[type=submit],
input[type=reset]{
    margin-top: 5%;
    width: 15vw;
    height: 5vh;
    margin: 5%;
    background-color: #181823;
    color: #F2F2F2;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
input[type=submit]:active{
    opacity: 50%;
}
input[type=reset]:active{
    opacity: 50%;
}